---
import AboutMe from '../components/sections/AboutMe.astro'
import Contact from '../components/sections/Contact.astro'
import Hero from '../components/sections/Hero.astro'
import Skills from '../components/sections/Skills.astro'
import Layout from '../layouts/Layout.astro'

console.log('This runs in your terminal, not the browser!')
---

<Layout>
	<main class="mx-auto max-w-7xl flex flex-col mt-16">
		<Hero />
		<AboutMe />
		<Skills />
		<Contact />
	</main>
</Layout>
