---
import AboutMe from "../components/AboutMe.astro";
import Contact from "../components/ContactForm.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";

console.log("This runs in your terminal, not the browser!");
---

<Layout
  title="Victor Gabriel Vides - Software Developer"
  description="My Description"
>
  <main class="container mx-auto max-w-7xl flex flex-col mt-16">
    <Hero />
    <AboutMe />
    <Contact />
  </main>
</Layout>
