<a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
  <!-- <img
    src="https://flowbite.com/docs/images/logo.svg"
    class="h-8"
    alt="Victor dot dev Logo"
  /> -->
  <span
    class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
    >
    &#60;&#47; Victor.dev &#62;
    </span>
</a>
