<footer class="mx-auto max-w-7xl px-6 lg:px-8 w-full lg:mt-12">
    <div
        class="mb-20 flex flex-wrap justify-between gap-x-6 gap-y-4 border-t border-slate-300/10 pt-12"
    >
        <div
            class="flex flex-col md:flex-row gap-2.5 items-center w-full justify-between"
        >
            <div class="flex flex-col items-center md:flex-row gap-2.5">
                <p class="text-center">
                    © 2023 | <span class="-900 dark:text-slate-100"
                        >Created by <b>Victor Gabriel Vides</b></span>
                </p>
                <a
                    href="https://github.com/ViktorPls/myWeb"
                    target="_blank"
                    class="font-light">Get the source code of this site</a
                >
            </div>
            <ul class="flex flex-row gap-2.5">
                <li>
                    <a
                        href="https://www.linkedin.com/in/victorgabrielvides/"
                        target="_blank"
                        title="Ir a Linkedin"
                    >
                        Linkedin
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.linkedin.com/in/victorgabrielvides/"
                        target="_blank"
                        title="Ir a Github"
                    >
                        Github
                    </a>
                </li>
                <li>
                    <a
                        href="mailto:victorgabrielvides@gmail.com"
                        target="_blank"
                        title="Send an email"
                    >
                        Email
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
