---
import Logo from './common/Logo.astro'
import NavLinks from './common/NavLinks.astro'
import Button from './common/Button.astro'
---

<header class="fixed w-full z-50 h-20">
	<nav
		class="border-b border-slate-300/10 backdrop-blur-lg transition-colors duration-500 supports-backdrop-blur:bg-white/60 shadow-lg drop-shadow-lg"
	>
		<div
			class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
		>
			<Logo />
			<Button />
			<div class="hidden w-full md:block md:w-auto" id="navLinksContainer">
				<NavLinks />
			</div>
		</div>
	</nav>
</header>

<script>
	const $navLink = document.getElementById('navLinksContainer')
	const $button = document.getElementById('buttonNav')

	$button?.addEventListener('click', () => {
		$navLink?.classList.toggle('hidden')
	})
</script>
