---

---

<header class="bg-slate-900 border-b border-slate-300/10 backdrop-blur-lg transition-colors duration-500 supports-backdrop-blur:bg-white/60 bg-slate-900/75 ">
	<div class="max-w-7xl mx-auto">
		<nav class="flex items-center py-4 lg:px-8 mx-4 lg:mx-0 text-sm leading-6 font-semibold text-slate-200 justify-between">
			<a href="/" class="mr-3 flex-none overflow-hidden md:w-auto">
				Victor.dev
			</a>

			<div id="drawer" class="hidden md:hidden absolute top-0 left-0 h-screen w-screen mt-[65px] bg-black/90">
				<div class="container px-8 py-12">
					<ul class="flex flex-col gap-4 mt-12 text-sky-500">
						<li class="hover:text-sky-400">
							<a href="#skills" class="p-2 text-2xl">Skills</a>
						</li>
						<li class="hover:text-sky-400">
							<a href="#about-me" class="p-2 text-2xl">Sobre mi</a>
						</li>
						<li class="hover:text-sky-400">
							<a href="#projects" class="p-2 text-2xl">Proyectos</a>
						</li>
						<li class="hover:text-sky-400">
							<a href="#contact" class="p-2 text-2xl">Contacto</a>
						</li>
					</ul>

					<div class="mt-12 inline-block">
						<a
							href="www.google.com"
							class="text-lg bg-sky-600 rounded-lg px-4 py-2 flex flex-row items-center"
						>
							<span>Curriculum</span>
							<span class="ml-2">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="w-6 h-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
									></path>
								</svg>
							</span>
						</a>
					</div>

					<div class="mt-12 text-gray-300">
						<span class="text-lg font-light"
							>Tambien me puedes encontrar en redes:</span
						>
						<ul class="flex flex-col gap-2.5 mt-6">
							<li>
								<a
									href="https://www.linkedin.com/in/victorgabrielvides/"
									target="_blank"
									title="Ir a Linkedin"
								>
									<span> </span>
									Linkedin
								</a>
							</li>
							<li>
								<a
									href="https://www.linkedin.com/in/victorgabrielvides/"
									target="_blank"
									title="Ir a Github"
								>
									<span> </span>
									Github
								</a>
							</li>
						</ul>
					</div>
				</div>

				<button id="button-nav" class="rounded-md md:hidden">
					<div class="mx-auto p-1">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-6 h-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25"></path>
						</svg>
					</div>
					<!-- Todo: Ocultar el boton de menu cuando se haga click -->
					<div class="hidden mx-auto p-1">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							class="w-6 h-6"
						>
							<path
								fill-rule="evenodd"
								d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
								clip-rule="evenodd"></path>
						</svg>
					</div>
				</button>

				<ul class="hidden md:grid grid-cols-4 gap-4 text-center">
					<li class="hover:text-sky-400">
						<a href="#skills">Skills</a>
					</li>
					<li class="hover:text-sky-400">
						<a href="#about-me">Sobre mi</a>
					</li>
					<li class="hover:text-sky-400">
						<a href="#projects">Proyectos</a>
					</li>
					<li class="hover:text-sky-400">
						<a href="#contact">Contacto</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
<script>
	// Function to show or hide the drawer
	function toggleDrawer() {
		let drawer = document.getElementById("drawer");
		drawer.classList.toggle("hidden");
	}

	// Event listener for button click
	let button = document.getElementById("button-nav");
	button.addEventListener("click", toggleDrawer);
</script>
