---
import SocialLinks from "./SocialLinks.astro";
---

<section class="container px-6 lg:px-8 pb-6">
  <div
    class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:24px_24px] [mask-image:radial-gradient(ellipse_80%_60%_at_50%_0%,#000_70%,transparent_100%)]"
  >
  </div>
  <div class="flex flex-col items-center text-center">
    <img
      loading="lazy"
      class="w-32 h-32 rounded-full border-4 border-sky-500 my-10"
      src="https://media.licdn.com/dms/image/C4D03AQHATmhQJ-viJg/profile-displayphoto-shrink_800_800/0/1660139192163?e=1721865600&v=beta&t=iEcj1dHgAQHPGP-NUvHj3nry_0y6-PZ5YXXAFLATbPY"
      draggable="false"
      alt="Victor Gabriel Vides"
    />
    <h1
      class="font-display text-4xl font-medium bg-clip-text text-transparent bg-gradient-to-r from-sky-500 to-violet-500"
    >
      Victor Gabriel Vides
    </h1>
    <h2 class="text-sky-300">Full-Stack Web Developer</h2>
    <p class="mt-4 text-sm/6 text-gray-300">
      Full-stack web developer from Argentina working from Berlin, Germany
    </p>
    <SocialLinks />
  </div>
</section>
