<section
    class="px-6 lg:px-8  pb-6"
>
    <div class="flex flex-col items-center text-center">
        <h1
            class="mt-14 font-display text-4xl font-medium bg-clip-text text-transparent bg-gradient-to-r from-sky-500 to-violet-500"
        >
            Victor Gabriel Vides
        </h1>
        <h2 class="text-sky-300">Full-Stack Web Developer</h2>
        <p class="mt-4 text-sm/6 text-gray-300">
            Full-stack web developer from Argentina working from Berlin, Germany
        </p>
    </div>
    <div class="flex justify-center mt-14">
        <img
            src="./src/assets/full profile.png"
            alt=""
            height="200"
            width="200"
            class="rounded-full"
        />
    </div>
</section>
