<section
  class="px-6 lg:px-8 pt-16 pb-4 bg-gradient-to-b from-transparent to-violet-500/10"
  id="projects"
>
  <h3
    class="text-2xl font-mono font-extrabold text-sky-400 tracking-tight pb-4 mb-8 bg-clip-text text-transparent bg-gradient-to-r from-sky-500 to-violet-500"
  >
    Featured projects
  </h3>

  <div class="flex flex-col gap-8 mb-24">
    <div
      class="rounded-xl shadow-md overflow-hidden bg-gradient-to-t from-sky-500/10 to-slate-800/10"
    >
      <div class="md:flex">
        <div class="md:shrink-0">
          <img
            class="h-48 w-full object-cover md:h-full md:w-48"
            src="./src/assets/mockProject.png"
            alt="Example project image"
          />
        </div>
        <div class="p-8">
          <div
            class="uppercase tracking-wide text-sm text-sky-500 font-semibold"
          >
            Ecommerce
          </div>
          <p class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatibus nam repudiandae non sequi quod dolorem aspernatur
            veniam commodi. Adipisci, nobis!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
