---
import PillSkill from './PillSkill.astro'
const techs = [
	{
		name: 'Javascript',
		icon: '/icons/javascript.svg',
	},
	{
		name: 'ReactJs',
		icon: '/icons/react.svg',
	},
	{
		name: 'VueJs',
		icon: '/icons/vue.svg',
	},
	{
		name: 'CSS',
		icon: '/icons/css.svg',
	},
	{
		name: 'HTML',
		icon: '/icons/html.svg',
	},
	{
		name: 'NodeJs',
		icon: '/icons/nodejs.svg',
	},
	{
		name: 'ExpessJs',
		icon: '/icons/expressjs.svg',
	},
	{
		name: 'Firebase',
		icon: '/icons/firebase.svg',
	},
	{
		name: 'AWS',
		icon: '/icons/aws.svg',
	},
	{
		name: 'Flutter',
		icon: '/icons/flutter.svg',
	},
	{
		name: 'Mongo',
		icon: '/icons/mongodb.svg',
	},
	{
		name: 'Python',
		icon: '/icons/python.svg',
	},
	{
		name: 'TailwindCSS',
		icon: '/icons/tailwindcss.svg',
	},
	{
		name: 'Typescript',
		icon: '/icons/typescript.svg',
	},
]
---

<section class="px-6 lg:px-8 pt-16 pb-4" id="skills">
	<h3
		class="text-2xl font-mono font-extrabold text-sky-400 tracking-tight mb-8 bg-clip-text text-transparent bg-gradient-to-r from-sky-500 to-violet-500"
	>
		Stack and Technologies
	</h3>

	<div class="space-y-4">
		<div class="flex flex-wrap items-center justify-center gap-4">
			{techs.map((item) => <PillSkill icon={item.icon} name={item.name} />)}
		</div>
		<div class="flex flex-wrap items-center justify-center gap-4"></div>
	</div>
</section>
