---
import HeadBase from '../components/HeadBase.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en">
	<HeadBase
		title="Victor Gabriel Vides - Software Developer"
		description="My Description"
	/>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: dark;
	}
	html {
		font-family: system-ui, sans-serif;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		min-width: 320px;
		overflow-x: clip;
		--sb-track-color: #232e33;
		--sb-thumb-color: #0ea5e9;
		--sb-size: 14px;
	}
	body::-webkit-scrollbar {
		width: var(--sb-size);
	}

	body::-webkit-scrollbar-track {
		background: var(--sb-track-color);
		border-radius: 3px;
	}

	body::-webkit-scrollbar-thumb {
		background: var(--sb-thumb-color);
		border-radius: 3px;
	}

	@supports not selector(::-webkit-scrollbar) {
		body {
			scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
		}
	}
</style>
